body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f2f2f2;
}

.hero {
    position: relative;
    height: 70vh;
    background: url(images/picture.jpg)no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(54, 49, 49, 0.45);
}

.navbar {
    background: #222;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.navbar a:hover {
    color: #00d0ff;
}

.section {
    background: white;
    padding: 50px;
    width: 85%;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-container img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

.blog-card {
    background: #fafafa;
    padding: 20px;
    border-left: 5px solid #333;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}